# Telco Churn Classification Project

### Kwame Taylor, Darden Cohort
#### Sept. 2020

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler

from acquire import get_telco_data, new_telco_data

import warnings
warnings.filterwarnings("ignore")

## acquire.py

In [2]:
# import acquire.py and use to acquire data
# modify acquire.py to join columns etc
# for now ill just test loading the data as is

df = get_telco_data()
df

,customer_id,contract_type_id,phone_service,internet_service_type_id,gender,senior_citizen,partner,dependents,tenure,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,monthly_charges,total_charges,churn
0,0002-ORFBO,2,Yes,1,Female,0,Yes,Yes,9,No,Yes,No,Yes,Yes,No,65.60,593.3,No
1,0003-MKNFE,1,Yes,1,Male,0,No,No,9,No,No,No,No,No,Yes,59.90,542.4,No
2,0004-TLHLJ,1,Yes,2,Male,0,No,No,4,No,No,Yes,No,No,No,73.90,280.85,Yes
3,0011-IGKFF,1,Yes,2,Male,1,Yes,No,13,No,Yes,Yes,No,Yes,Yes,98.00,1237.85,Yes
4,0013-EXCHZ,1,Yes,2,Female,1,Yes,No,3,No,No,No,Yes,Yes,No,83.90,267.4,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,2,Yes,1,Female,0,No,No,13,Yes,No,No,Yes,No,No,55.15,742.9,No
7039,9992-RRAMN,1,Yes,2,Male,0,Yes,No,22,No,No,No,No,No,Yes,85.10,1873.7,Yes
7040,9992-UJOEL,1,Yes,1,Male,0,No,No,2,No,Yes,No,No,No,No,50.30,92.75,No
7041,9993-LHIEB,3,Yes,1,Male,0,Yes,Yes,67,Yes,No,Yes,Yes,No,Yes,67.85,4627.65,No
7042,9995-HOTOH,3,No,1,Male,0,Yes,Yes,63,Yes,Yes,Yes,No,Yes,Yes,59.00,3707.6,No

In [3]:
# These are the columns I decided were relevant to acquire from the SQL data.

df.columns

Index(['customer_id', 'contract_type_id', 'phone_service',
       'internet_service_type_id', 'gender', 'senior_citizen', 'partner',
       'dependents', 'tenure', 'online_security', 'online_backup',
       'device_protection', 'tech_support', 'streaming_tv', 'streaming_movies',
       'monthly_charges', 'total_charges', 'churn'],
      dtype='object')

In [4]:
# ill clean the data here then transfer that code to my prepare.py

In [5]:
# ill also need to use pandas to export a CSV file,
# with customer_id, probability of churn, and prediction of churn. (1=churn, 0=not_churn)

In [6]:
# set the index to be customer_id
df = df.set_index('customer_id')
df

,contract_type_id,phone_service,internet_service_type_id,gender,senior_citizen,partner,dependents,tenure,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,monthly_charges,total_charges,churn
customer_id,,,,,,,,,,,,,,,,,
0002-ORFBO,2,Yes,1,Female,0,Yes,Yes,9,No,Yes,No,Yes,Yes,No,65.60,593.3,No
0003-MKNFE,1,Yes,1,Male,0,No,No,9,No,No,No,No,No,Yes,59.90,542.4,No
0004-TLHLJ,1,Yes,2,Male,0,No,No,4,No,No,Yes,No,No,No,73.90,280.85,Yes
0011-IGKFF,1,Yes,2,Male,1,Yes,No,13,No,Yes,Yes,No,Yes,Yes,98.00,1237.85,Yes
0013-EXCHZ,1,Yes,2,Female,1,Yes,No,3,No,No,No,Yes,Yes,No,83.90,267.4,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9987-LUTYD,2,Yes,1,Female,0,No,No,13,Yes,No,No,Yes,No,No,55.15,742.9,No
9992-RRAMN,1,Yes,2,Male,0,Yes,No,22,No,No,No,No,No,Yes,85.10,1873.7,Yes
9992-UJOEL,1,Yes,1,Male,0,No,No,2,No,Yes,No,No,No,No,50.30,92.75,No
9993-LHIEB,3,Yes,1,Male,0,Yes,Yes,67,Yes,No,Yes,Yes,No,Yes,67.85,4627.65,No
9995-HOTOH,3,No,1,Male,0,Yes,Yes,63,Yes,Yes,Yes,No,Yes,Yes,59.00,3707.6,No

In [7]:
# First I'm going to cut down on the complexity of data by combining the variables for various add-on packages
# into one variable, num_add_ons, that adds up the number of add-ons services each customer has.

df.online_security = df.online_security.map({'Yes': 1, 'No': 0, 'No internet service': 0})
df.online_backup = df.online_backup.map({'Yes': 1, 'No': 0, 'No internet service': 0})
df.device_protection = df.device_protection.map({'Yes': 1, 'No': 0, 'No internet service': 0})
df.tech_support = df.tech_support.map({'Yes': 1, 'No': 0, 'No internet service': 0})
df.streaming_tv = df.streaming_tv.map({'Yes': 1, 'No': 0, 'No internet service': 0})
df.streaming_movies = df.streaming_movies.map({'Yes': 1, 'No': 0, 'No internet service': 0})
df.head()

,contract_type_id,phone_service,internet_service_type_id,gender,senior_citizen,partner,dependents,tenure,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,monthly_charges,total_charges,churn
customer_id,,,,,,,,,,,,,,,,,
0002-ORFBO,2,Yes,1,Female,0,Yes,Yes,9,0,1,0,1,1,0,65.6,593.3,No
0003-MKNFE,1,Yes,1,Male,0,No,No,9,0,0,0,0,0,1,59.9,542.4,No
0004-TLHLJ,1,Yes,2,Male,0,No,No,4,0,0,1,0,0,0,73.9,280.85,Yes
0011-IGKFF,1,Yes,2,Male,1,Yes,No,13,0,1,1,0,1,1,98.0,1237.85,Yes
0013-EXCHZ,1,Yes,2,Female,1,Yes,No,3,0,0,0,1,1,0,83.9,267.4,Yes

In [8]:
df['num_add_ons'] = (df.online_security + df.online_backup + df.device_protection + df.tech_support + df.streaming_tv + df.streaming_movies)
df.head()

,contract_type_id,phone_service,internet_service_type_id,gender,senior_citizen,partner,dependents,tenure,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,monthly_charges,total_charges,churn,num_add_ons
customer_id,,,,,,,,,,,,,,,,,,
0002-ORFBO,2,Yes,1,Female,0,Yes,Yes,9,0,1,0,1,1,0,65.6,593.3,No,3
0003-MKNFE,1,Yes,1,Male,0,No,No,9,0,0,0,0,0,1,59.9,542.4,No,1
0004-TLHLJ,1,Yes,2,Male,0,No,No,4,0,0,1,0,0,0,73.9,280.85,Yes,1
0011-IGKFF,1,Yes,2,Male,1,Yes,No,13,0,1,1,0,1,1,98.0,1237.85,Yes,4
0013-EXCHZ,1,Yes,2,Female,1,Yes,No,3,0,0,0,1,1,0,83.9,267.4,Yes,2

In [13]:
# Now drop the add-on columns we don't need anymore.

df = df.drop(columns=['online_security', 'online_backup', 'device_protection', 'tech_support', 'streaming_tv', 'streaming_movies'])
df.head()

,contract_type_id,phone_service,internet_service_type_id,gender,senior_citizen,partner,dependents,tenure,monthly_charges,total_charges,churn,num_add_ons
customer_id,,,,,,,,,,,,
0002-ORFBO,2,Yes,1,Female,0,Yes,Yes,9,65.6,593.3,No,3
0003-MKNFE,1,Yes,1,Male,0,No,No,9,59.9,542.4,No,1
0004-TLHLJ,1,Yes,2,Male,0,No,No,4,73.9,280.85,Yes,1
0011-IGKFF,1,Yes,2,Male,1,Yes,No,13,98.0,1237.85,Yes,4
0013-EXCHZ,1,Yes,2,Female,1,Yes,No,3,83.9,267.4,Yes,2

In [16]:
df.phone_service = df.phone_service.map({'Yes': 1, 'No': 0})
df.head()

,contract_type_id,phone_service,internet_service_type_id,gender,senior_citizen,partner,dependents,tenure,monthly_charges,total_charges,churn,num_add_ons
customer_id,,,,,,,,,,,,
0002-ORFBO,2,1,1,Female,0,Yes,Yes,9,65.6,593.3,No,3
0003-MKNFE,1,1,1,Male,0,No,No,9,59.9,542.4,No,1
0004-TLHLJ,1,1,2,Male,0,No,No,4,73.9,280.85,Yes,1
0011-IGKFF,1,1,2,Male,1,Yes,No,13,98.0,1237.85,Yes,4
0013-EXCHZ,1,1,2,Female,1,Yes,No,3,83.9,267.4,Yes,2

In [19]:
df['is_male'] = df.gender.map({'Male': 1, 'Female': 0})
df.head()

,contract_type_id,phone_service,internet_service_type_id,gender,senior_citizen,partner,dependents,tenure,monthly_charges,total_charges,churn,num_add_ons,is_male
customer_id,,,,,,,,,,,,,
0002-ORFBO,2,1,1,Female,0,Yes,Yes,9,65.6,593.3,No,3,0
0003-MKNFE,1,1,1,Male,0,No,No,9,59.9,542.4,No,1,1
0004-TLHLJ,1,1,2,Male,0,No,No,4,73.9,280.85,Yes,1,1
0011-IGKFF,1,1,2,Male,1,Yes,No,13,98.0,1237.85,Yes,4,1
0013-EXCHZ,1,1,2,Female,1,Yes,No,3,83.9,267.4,Yes,2,0

In [20]:
# Now drop gender column

df = df.drop(columns=['gender'])
df.head(3)

,contract_type_id,phone_service,internet_service_type_id,senior_citizen,partner,dependents,tenure,monthly_charges,total_charges,churn,num_add_ons,is_male
customer_id,,,,,,,,,,,,
0002-ORFBO,2,1,1,0,Yes,Yes,9,65.6,593.3,No,3,0
0003-MKNFE,1,1,1,0,No,No,9,59.9,542.4,No,1,1
0004-TLHLJ,1,1,2,0,No,No,4,73.9,280.85,Yes,1,1

In [22]:
# Encode - Turn Yes's and No's into 1s and 0s.

df.partner = df.partner.map({'Yes': 1, 'No': 0})
df.dependents = df.dependents.map({'Yes': 1, 'No': 0})
df.churn = df.churn.map({'Yes': 1, 'No': 0})
df.head()

,contract_type_id,phone_service,internet_service_type_id,senior_citizen,partner,dependents,tenure,monthly_charges,total_charges,churn,num_add_ons,is_male
customer_id,,,,,,,,,,,,
0002-ORFBO,2,1,1,0,1,1,9,65.6,593.3,0,3,0
0003-MKNFE,1,1,1,0,0,0,9,59.9,542.4,0,1,1
0004-TLHLJ,1,1,2,0,0,0,4,73.9,280.85,1,1,1
0011-IGKFF,1,1,2,1,1,0,13,98.0,1237.85,1,4,1
0013-EXCHZ,1,1,2,1,1,0,3,83.9,267.4,1,2,0

In [26]:
# Rename columns to shorter names
# contract_type_id --> contract_type
# phone_service --> phone
# internet_service_type_id --> internet_type
# senior_citizen --> senior
# dependents --> depend

df = df.rename(columns={"contract_type_id": "contract_type", "phone_service": "phone",
                   "internet_service_type_id": "internet_type", "senior_citizen": "senior", "dependents": "depend"})
df.head(3)

,contract_type,phone,internet_type,senior,partner,depend,tenure,monthly_charges,total_charges,churn,num_add_ons,is_male
customer_id,,,,,,,,,,,,
0002-ORFBO,2,1,1,0,1,1,9,65.6,593.3,0,3,0
0003-MKNFE,1,1,1,0,0,0,9,59.9,542.4,0,1,1
0004-TLHLJ,1,1,2,0,0,0,4,73.9,280.85,1,1,1

In [27]:
# Data is now tidy enough to work with.

In [ ]:
# Now I will put this all in my prepare.py file and import it to use on the data after acquire.py